# Build directories
build/
out/
.cmake/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
.env

# Generated
*.armpack
*.armgraph
*.pb
*.fbs.h

# Editors
.vscode/settings.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Compiled outputs
*.o
*.a
*.so
*.dylib
*.dll
*.exe
compile_commands.json
output
__pycache__/
models/
vcpkg_installed/
node_modules/
silicongraph-desktop/node_modules/
silicongraph-desktop/dist/
silicongraph-desktop/release/